@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1735179910902') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yaoqingpengyou:before {
  content: "\e95b";
}

.icon-geren:before {
  content: "\e52a";
}

.icon-moneycollect:before {
  content: "\e7cd";
}

.icon-IE:before {
  content: "\e87a";
}

